@{
    ViewBag.Title = "Olvidé mi contraseña";
}

<div class="extra">
    <h1>Olvidé mi contraseña</h1>
    <form action='@Url.Action("CambiarPassword", "Account")' method="post">
        <input type="text" name="username" placeholder="Username" autocomplete="off" required/><br>
        <input type="password" name="nuevapassword" placeholder="Nueva contraseña" required/><br>
        <button type="submit">Cambiar contraseña</button> 
        <a class="volverBtn" href='@Url.Action("Index", "Home")'>Volver</a>
    </form>
</div>