@{
    ViewBag.Title = "Olvidé mi contraseña";
}
<section class="mainCuadrante">
    <div class="extra">
        <form action='@Url.Action("CambiarPassword", "Account")' method="post">
        <h1>Cambiar contraseña</h1>
            <div class="campo">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" autocomplete="off" required/>
            </div>
            <div class="campo">
                <label>Contraseña</label>
                <input type="password" name="nuevapassword" placeholder="Nueva contraseña" required/>
            </div>
            <button type="submit">Cambiar contraseña</button> 
            <a class="volverBtn" href='@Url.Action("Index", "Home")'>Volver</a>
        </form>
    </div>
</section>