@{
    ViewBag.Title = "SignUp";
}

<div class="extra">
    <h1>Sign Up</h1>
    <form action='@Url.Action("CrearCuenta", "Account")' method="post" enctype="multipart/form-data">
        <input type="text" name="nombre" placeholder="Nombre" autocomplete="off" required/><br>
        <input type="text" name="apellido" placeholder="Apellido" autocomplete="off" required/><br>
        <input type="password" name="password" placeholder="Contraseña" required/><br>
        <input type="text" name="username" placeholder="Username" autocomplete="off" required/><br>
        <input type="file" name="foto" placeholder="Foto de perfil (opcional)" accept="image/*"/><br>
        <button type="submit">Crear cuenta</button>
        <a class="volverBtn" href='@Url.Action("Index", "Home")'>Volver</a>
    </form>
</div>