@{
    ViewData["Title"] = "Login";
}

<div class="index">
    <form method="post" action='@Url.Action("LogIn", "Account")'>
        @if (ViewBag.mensaje != null)
        {
            <h2>@ViewBag.mensaje</h2>
        }
        <label>Username</label>
        <input type="text" name="username" placeholder="Username" autocomplete="off">
        <label>Contraseña</label>
        <input type="password" name="passwordIntentada" placeholder="Contraseña">
        <button type="submit">Iniciar Sesión</button>
        <a href='@Url.Action("OlvidePassword", "Account")'>Olvidé mi contraseña</a>
        <a href='@Url.Action("SignUp", "Account")'>No tengo una cuenta creada</a>
    </form>
</div>