html {
  margin: 0;
  --color1: #780000;
  --color2: #C1121F;
  --color3: #FDF0D5;
  --color4: #003049;
  --color5: #669BBC;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background-color: var(--color3);
  background-color: #CEC2AA;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23CEC2AA' width='11' height='11'/%3E%3Crect fill='%23cfc3ab' x='10' width='11' height='11'/%3E%3Crect fill='%23d0c4ab' y='10' width='11' height='11'/%3E%3Crect fill='%23d0c4ac' x='20' width='11' height='11'/%3E%3Crect fill='%23d1c5ad' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d2c6ae' y='20' width='11' height='11'/%3E%3Crect fill='%23d3c7ae' x='30' width='11' height='11'/%3E%3Crect fill='%23d3c7af' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d4c8b0' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23d5c9b0' y='30' width='11' height='11'/%3E%3Crect fill='%23d6cab1' x='40' width='11' height='11'/%3E%3Crect fill='%23d7cab2' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23d7cbb3' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23d8ccb3' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23d9cdb4' y='40' width='11' height='11'/%3E%3Crect fill='%23daceb5' x='50' width='11' height='11'/%3E%3Crect fill='%23dbceb5' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23dbcfb6' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23dcd0b7' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23ddd1b8' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23ded1b8' y='50' width='11' height='11'/%3E%3Crect fill='%23dfd2b9' x='60' width='11' height='11'/%3E%3Crect fill='%23dfd3ba' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e0d4bb' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e1d4bb' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e2d5bc' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e2d6bd' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e3d7bd' x='70' width='11' height='11'/%3E%3Crect fill='%23e4d8be' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e5d8bf' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e6d9c0' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e6dac0' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e7dbc1' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e8dcc2' x='80' width='11' height='11'/%3E%3Crect fill='%23e9dcc3' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23eaddc3' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23eadec4' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23ebdfc5' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23ecdfc5' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ede0c6' x='90' width='11' height='11'/%3E%3Crect fill='%23eee1c7' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23eee2c8' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23efe3c8' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23f0e3c9' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23f1e4ca' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23f2e5cb' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23f2e6cb' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23f3e6cc' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23f4e7cd' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23f5e8ce' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23f6e9ce' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23f7eacf' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23f7ead0' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23f8ebd1' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f9ecd1' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23faedd2' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23fbeed3' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23fbeed4' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23fcefd4' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23FDF0D5' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: var(--color1);
}

h2, form{
  margin: 1%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1%;
  position: relative;
}

header img {
  position: absolute;
  top: 5%;
  left: 44%;
  /* height: 15em; */
  background-color: whitesmoke;
  border: 3px solid var(--color1); 
  border-radius: 10px;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  font-size: 18px;
}

header .foto {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  font-size: 18px;
}

header div svg, header div img{
  position: inherit;
  height: 4em;
  width: auto;
  stroke-width: 2;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 2%;
  margin-left: 30%;
  font-weight: lighter;
  background-color: whitesmoke;
  border: 3px solid var(--color1);
  border-radius: 20px;
}

main form{
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

main form a {
  font-size: 1.5rem;
  color: var(--color5);
}

main h2{
  font-size: 2ex;
  text-align: center;
  color: rgb(161, 3, 3);
}

main ul li, main ul{
  font-weight: 600;
  display: inline;
  margin-top: 0%
}

main input{
  font-size: 1ex;
  text-align: center;
  padding: 0.5%;
  border: 2px solid var(--color1);
  border-radius: 5px;
  color: var(--color1);
}

button[type="submit"]{
  font-size: 1.3rem;
  color: var(--color1);
  border: 2px solid var(--color1);
  border-radius: 5px;
  background-color: var(--color3);
}

form input:hover, button[type="submit"]:hover{
  box-shadow: 1px 5px 20px var(--color3);
  transition: all 0.5s ease;
}

.perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}

/* .extra{
  display: flex;
  flex-direction: column;
  padding: 3%
} */

/* .extra h1{
  margin: 0%;
} */

/* .extra input[type="number"]{
  width: 30%;
} */

.volverBtn{
  
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
form h1{
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.campo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  /* gap: 100px */
}

.campo label {
  /* width: 120px; */
  margin-right: 10px;
  text-align: right;
  font-size: 2rem;
}

.campo input {
  flex: 1; /* que el input tome el espacio restante */
}